/node_modules
/public/images/landings/node_modules
/public/hot
/public/storage
/public/upload/
/storage/framework
/storage/fonts
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
composer.lock
.env
/.source
/nbproject
storage/debugbar/
/public/bower-components
public/main_layout/css/landing/style-OLD.css
public/main_layout/js/landing-OLD.js
