
// Body
$body-bg: #F4F6FC;
//
//// Borders
//$laravel-border-color: darken($body-bg, 10%);
//$list-group-border: $laravel-border-color;
//$navbar-default-border: $laravel-border-color;
//$panel-default-border: $laravel-border-color;
//$panel-inner-border: $laravel-border-color;
//
//// Brands
//$brand-primary: #3097D1;
//$brand-info: #8eb4cb;
//$brand-success: #2ab27b;
//$brand-warning: #cbb956;
//$brand-danger: #bf5329;
//
//// Typography
//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//$font-family-sans-serif: "Raleway", sans-serif;
//$font-size-base: 14px;
//$line-height-base: 1.6;
//$text-color: #636b6f;
//
//// Navbar
//$navbar-default-bg: #fff;
//
//// Buttons
$btn-light-bg: #FFFFFF;
$btn-blue-bg: #2E5BFF;
$btn-blue-bg-hover: #5178ff;
$btn-green-bg: #00CF3E;
$btn-green-bg-hover: #00b839;
$btn-block-bg: #BFC5D2;
$btn-block-bg-hover: #EEF3F5;
$btn-min-width: 220px;

$title_label_color: #B0BAC9;
//
//// Inputs
//$input-border: lighten($text-color, 40%);
//$input-border-focus: lighten($brand-primary, 25%);
//$input-color-placeholder: lighten($text-color, 30%);
//
//// Panels
//$panel-default-heading-bg: #fff;

$form-input-bg-color: #f2f7fa;

$point_sm: 649.999px;

$point_md: 959.999px;

$row_margin_bottom_info: 9px;

// Analytics desktop width[deals/logistics]
$table-analytics: 749.999px;

// Analytics desktop mobile width[deals/logistics]
$table-analytics-mobile: 749.999px;
