#selectProfile{

  top: 100px;

  .modal-dialog {
    width: 400px;
    margin: auto;
  }

  .modal-content {
    padding: 16px;
    -webkit-box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.75);
    border-radius: 5px;
  }

  .modal-header {
    padding: 0;
  }

  .modal-title {
    font-family: opensans-regular;
    margin-top: 5px;
    font-size: 18px;
    /*padding-left: 20px;*/
    padding-right: 15px;
    font-weight: bold;
    color: #4D5C8B;
    text-transform: inherit;
    text-align: left;
    margin-top: 0;
    line-height: 1;

  }

  .modal-body {
    padding: 0;
    text-align: center;
    margin-top: 40px;
  }

  .modal-footer {
    padding: 0;
    text-align: right;
  }

  .modal-footer button{
    width: 100px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: .25em;
    padding: 5px;
    font-weight: bold;
  }

  button.link_back {
    color: #00cf3e;
    background-color: #ffffff;
    border: 2px solid #00cf3e;
  }

  button.link_next {
    color: #ffffff;
    background-color: #00cf3e;
    border: 2px solid #00cf3e;
  }
}

.settings-page {
  .company_type_label {
    font-size: 14px;
    margin-right: 40px;
  }
  .content-box__body {
    background-color: #fff;
    //padding: 30px 15px 90px 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .form-group_separator {
    div {
      border-top: 1px solid #eee;
      margin-top: 15px;
      margin-bottom: 10px;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(100% - 30px);
      padding-top: 10px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;

      padding-left: 0;
    }
  }

  //.user_info__input {
  //  display: none;
  //}


  label {
    white-space: normal;
  }
  .bootstrap-select {
    width: 100%!important;
  }
}

#confirmInformation {
  .modal-body {
    margin-top: 10px;
    padding-left: 20%;
  }
  .row {
    margin-bottom: 10px;
    .title {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}